$font-primary: "Open Sans", sans-serif;
$font-secondary: "Mulish", sans-serif;

$color-text: #1f1534;
$color-highlight: #89c5cc;
$color-button: #69B99D;
$color-paragraph: #7d7987;

$gradient-start: rgba(227, 255, 248, 0);
$gradient-end: rgba(227, 255, 248, 0.38);